# .NET Core / .NET 9 .gitignore for Semantic Kernel Workshop# Byte-compiled / optimized / DLL files

__pycache__/

# Build results*.py[cod]

[Bb]in/*$py.class

[Oo]bj/

[Dd]ebug/# C extensions

[Rr]elease/*.so

[Bb]uild/

x64/# Distribution / packaging

x86/.Python

[Aa][Rr][Mm]/env/

[Aa][Rr][Mm]64/venv/

bld/# Python

__pycache__/

# MSBuild Binary and Structured Log*.py[cod]

*.binlog*$py.class

*.so

# User-specific files.Python

*.rsuserbuild/

*.suodevelop-eggs/

*.userdist/

*.userosscachedownloads/

*.sln.docstateseggs/

.eggs/

# Visual Studio 2015/2017 cache/options directorylib/

.vs/lib64/

# Uncomment if you have tasks that create the project's static files in wwwrootparts/

#wwwroot/sdist/

var/

# MSTest test Results*.egg-info/

[Tt]est[Rr]esult*/.installed.cfg

[Bb]uild[Ll]og.**.egg



# NUnit# PyInstaller

*.VisualState.xml#  Usually these files are written by a python script from a template

TestResult.xml#  before PyInstaller builds the exe, so as to inject date/other infos into it.

nunit-*.xml*.manifest

*.spec

# xUnit

*.xunit# Installer logs

pip-log.txt

# .NET Corepip-delete-this-directory.txt

project.lock.json

project.fragment.lock.json# Unit test / coverage reports

artifacts/htmlcov/

.tox/

# ASP.NET Scaffolding.nox/

ScaffoldingReadMe.txt.coverage

.coverage.*

# Files built by Visual Studio.cache

*.ilknosetests.xml

*.metacoverage.xml

*.obj*.cover

*.iobj.hypothesis/

*.pch.pytest_cache/

*.pdb

*.ipdb# Jupyter Notebook

*.pgc.ipynb_checkpoints

*.pgd

*.rsp# pyenv

*.sbr.python-version

*.tlb

*.tli# pipenv

*.tlhPipfile.lock

*.tmp

*.tmp_proj# dotenv

*_wpftmp.csproj.env

*.log.env.*

*.tlog

*.vspscc# mypy

*.vssscc.mypy_cache/

.builds.dmypy.json

*.pidb

*.svclog# Pyre type checker

*.scc.pyre/



# Visual C++ cache files# VS Code

ipch/.vscode/

*.aps

*.ncb# React/Node

*.opendbnode_modules/

*.opensdffrontend/build/

*.sdffrontend/.env

*.cachefile

*.VC.db# Logs

*.VC.VC.opendb*.log



# Visual Studio profiler# Mac

*.psess.DS_Store

*.vsp

*.vspx# Windows

*.sapThumbs.db



# Visual Studio Trace Files# Local backups

*.e2e*~

*.swp

# ReSharper is a .NET coding add-in*.swo

_ReSharper*/

*.[Rr]e[Ss]harper# Ignore backend requirements if generated

*.DotSettings.user#backend/requirements.txt 

wheels/

# Coverlet is a free, cross platform Code Coverage Tool*.egg-info/

coverage*.json.installed.cfg

coverage*.xml*.egg

coverage*.infoMANIFEST

.env

# Visual Studio code coverage resultsvenv/

*.coverageENV/

*.coveragexml

# Node/React

# Publish Web Outputfrontend/node_modules/

*.[Pp]ublish.xmlfrontend/.pnp

*.azurePubxmlfrontend/.pnp.js

*.pubxmlfrontend/coverage/

*.publishprojfrontend/build/

frontend/.DS_Store

# NuGet Packagesfrontend/.env.local

*.nupkgfrontend/.env.development.local

*.snupkgfrontend/.env.test.local

# The packages folder can be ignored because of Package Restorefrontend/.env.production.local

**/[Pp]ackages/*frontend/npm-debug.log*

# except build/, which is used as an MSBuild target.frontend/yarn-debug.log*

!**/[Pp]ackages/build/frontend/yarn-error.log*

# NuGet v3's project.json files produces more ignorable files

*.nuget.props# IDE specific files

*.nuget.targets.idea/

.vscode/

# Microsoft Azure Build Output*.swp

csx/*.swo

*.build.csdef.DS_Store

*.sublime-workspace

# Windows Store app package directories and files*.sublime-project

AppPackages/

BundleArtifacts/# Azure specific

Package.StoreAssociation.xml.azure/

_pkginfo.txt*.publishsettings

*.appx*.pubxml

*.appxbundle*.azurePubxml

*.appxupload

# Logs

# Visual Studio cache files*.log

*.[Cc]achelogs/

!?*.[Cc]ache/log/



# Others# Local development

ClientBin/.localdev/

~$**.local

*~

*.dbmdl# Testing

*.dbproj.schemaview.coverage

*.jfmhtmlcov/

*.pfx.tox/

*.publishsettings.nox/

orleans.codegen.cs.pytest_cache/

test-reports/

# SQL Server files

*.mdf# Misc

*.ldf*.bak

*.ndf*.tmp

*.temp

# Microsoft Fakes.cache/ 

FakesAssemblies/

# ============================================================================

# Node.js Tools for Visual Studio# .NET CORE / .NET 9 BUILD ARTIFACTS

.ntvs_analysis.dat# ============================================================================

node_modules/# Build results

Backend/dotnet/**/[Bb]in/

# Paket dependency managerBackend/dotnet/**/[Oo]bj/

.paket/paket.exeBackend/dotnet/**/[Dd]ebug/

paket-files/Backend/dotnet/**/[Rr]elease/

Backend/dotnet/**/[Bb]uild/

# Local History for Visual StudioBackend/dotnet/**/x64/

.localhistory/Backend/dotnet/**/x86/



# BeatPulse healthcheck temp database# MSBuild Binary and Structured Log

healthchecksdbBackend/dotnet/**/*.binlog



# Fody - auto-generated XML schema# NuGet

FodyWeavers.xsdBackend/dotnet/**/packages/

Backend/dotnet/**/packages.lock.json

# Environment variablesBackend/dotnet/**/*.nupkg

.envBackend/dotnet/**/*.snupkg

.env.*Backend/dotnet/**/nuget.exe

Backend/dotnet/**/.nuget/

# Semantic Kernel specific

sessions/# User-specific files
Backend/dotnet/**/*.rsuser
Backend/dotnet/**/*.suo
Backend/dotnet/**/*.user
Backend/dotnet/**/*.userosscache
Backend/dotnet/**/*.sln.docstates

# Visual Studio cache/options directory
Backend/dotnet/**/.vs/

# Uncomment if you have tasks that create the project's static files in wwwroot
#Backend/dotnet/**/wwwroot/

# MSTest test Results
Backend/dotnet/**/[Tt]est[Rr]esult*/
Backend/dotnet/**/[Bb]uild[Ll]og.*

# NUnit
Backend/dotnet/**/*.VisualState.xml
Backend/dotnet/**/TestResult.xml
Backend/dotnet/**/nunit-*.xml

# NUNIT
Backend/dotnet/**/*.VisualState.xml
Backend/dotnet/**/TestResult.xml

# xUnit
Backend/dotnet/**/*.xunit

# Coverlet is a free, cross platform Code Coverage Tool
Backend/dotnet/**/coverage*.json
Backend/dotnet/**/coverage*.xml
Backend/dotnet/**/coverage*.info

# Visual Studio code coverage results
Backend/dotnet/**/*.coverage
Backend/dotnet/**/*.coveragexml

# NCrunch
Backend/dotnet/**/_NCrunch_*
Backend/dotnet/**/.*crunch*.local.xml
Backend/dotnet/**/nCrunchTemp_*

# MightyMoose
Backend/dotnet/**/*.mm.*
Backend/dotnet/**/AutoTest.Net/

# Web workbench (sass)
Backend/dotnet/**/.sass-cache/

# Installshield output folder
Backend/dotnet/**/[Ee]xpress/

# DocProject is a documentation generator add-in
Backend/dotnet/**/DocProject/buildhelp/
Backend/dotnet/**/DocProject/Help/*.HxT
Backend/dotnet/**/DocProject/Help/*.HxC
Backend/dotnet/**/DocProject/Help/*.hhc
Backend/dotnet/**/DocProject/Help/*.hhk
Backend/dotnet/**/DocProject/Help/*.hhp
Backend/dotnet/**/DocProject/Help/Html2
Backend/dotnet/**/DocProject/Help/html

# Click-Once directory
Backend/dotnet/**/publish/

# Publish Web Output
Backend/dotnet/**/*.[Pp]ublish.xml
Backend/dotnet/**/*.azurePubxml
Backend/dotnet/**/*.pubxml
Backend/dotnet/**/*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be encrypted
Backend/dotnet/**/PublishScripts/

# NuGet Packages
Backend/dotnet/**/*.nupkg
Backend/dotnet/**/*.snupkg
# NuGet Symbol Packages
Backend/dotnet/**/*.snupkg
# The packages folder can be ignored because of Package Restore
Backend/dotnet/**/[Pp]ackages/
# except build/, which is used as an MSBuild target.
!Backend/dotnet/**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
Backend/dotnet/**/*.nuget.props
Backend/dotnet/**/*.nuget.targets

# Microsoft Azure Build Output
Backend/dotnet/**/csx/
Backend/dotnet/**/*.build.csdef

# Microsoft Azure Emulator
Backend/dotnet/**/ecf/
Backend/dotnet/**/rcf/

# Windows Store app package directories and files
Backend/dotnet/**/AppPackages/
Backend/dotnet/**/BundleArtifacts/
Backend/dotnet/**/Package.StoreAssociation.xml
Backend/dotnet/**/_pkginfo.txt
Backend/dotnet/**/*.appx
Backend/dotnet/**/*.appxbundle
Backend/dotnet/**/*.appxupload

# Visual Studio cache files
Backend/dotnet/**/ipch/
Backend/dotnet/**/*.aps
Backend/dotnet/**/*.ncb
Backend/dotnet/**/*.opendb
Backend/dotnet/**/*.opensdf
Backend/dotnet/**/*.sdf
Backend/dotnet/**/*.cachefile
Backend/dotnet/**/*.VC.db
Backend/dotnet/**/*.VC.VC.opendb

# Visual Studio profiler
Backend/dotnet/**/*.psess
Backend/dotnet/**/*.vsp
Backend/dotnet/**/*.vspx
Backend/dotnet/**/*.sap

# Visual Studio Trace Files
Backend/dotnet/**/*.e2e

# TFS 2012 Local Workspace
Backend/dotnet/**/$tf/

# Guidance Automation Toolkit
Backend/dotnet/**/*.gpState

# ReSharper is a .NET coding add-in
Backend/dotnet/**/_ReSharper*/
Backend/dotnet/**/*.[Rr]e[Ss]harper
Backend/dotnet/**/*.DotSettings.user

# JustCode is a .NET coding add-in
Backend/dotnet/**/.JustCode

# TeamCity is a build add-in
Backend/dotnet/**/_TeamCity*

# DotCover is a Code Coverage Tool
Backend/dotnet/**/*.dotCover

# AxoCover is a Code Coverage Tool
Backend/dotnet/**/.axoCover/*
Backend/dotnet/**/coverage.json
Backend/dotnet/**/coverage.xml
Backend/dotnet/**/coverage.info

# Coverlet is a free, cross platform Code Coverage Tool
Backend/dotnet/**/coverage*.json
Backend/dotnet/**/coverage*.xml
Backend/dotnet/**/coverage*.info

# Visual Studio code coverage results
Backend/dotnet/**/*.coverage
Backend/dotnet/**/*.coveragexml

# NCrunch
Backend/dotnet/**/_NCrunch_*
Backend/dotnet/**/.*crunch*.local.xml
Backend/dotnet/**/nCrunchTemp_*

# MightyMoose
Backend/dotnet/**/*.mm.*
Backend/dotnet/**/AutoTest.Net/

# Web workbench (sass)
Backend/dotnet/**/.sass-cache/

# Installshield output folder
Backend/dotnet/**/[Ee]xpress/

# DocProject is a documentation generator add-in
Backend/dotnet/**/DocProject/buildhelp/
Backend/dotnet/**/DocProject/Help/*.HxT
Backend/dotnet/**/DocProject/Help/*.HxC
Backend/dotnet/**/DocProject/Help/*.hhc
Backend/dotnet/**/DocProject/Help/*.hhk
Backend/dotnet/**/DocProject/Help/*.hhp
Backend/dotnet/**/DocProject/Help/Html2
Backend/dotnet/**/DocProject/Help/html

# Click-Once directory
Backend/dotnet/**/publish/

# Publish Web Output
Backend/dotnet/**/*.[Pp]ublish.xml
Backend/dotnet/**/*.azurePubxml
Backend/dotnet/**/*.pubxml
Backend/dotnet/**/*.publishproj

# Windows Azure Build Output
Backend/dotnet/**/csx/
Backend/dotnet/**/*.build.csdef

# Windows Store app package directory
Backend/dotnet/**/AppPackages/

# Visual Studio cache files
Backend/dotnet/**/ipch/
Backend/dotnet/**/*.aps
Backend/dotnet/**/*.ncb
Backend/dotnet/**/*.opensdf
Backend/dotnet/**/*.sdf
Backend/dotnet/**/*.cachefile

# Others
Backend/dotnet/**/ClientBin/
Backend/dotnet/**~$*
Backend/dotnet/**/*~
Backend/dotnet/**/*.dbmdl
Backend/dotnet/**/*.dbproj.schemaview
Backend/dotnet/**/*.publishsettings
Backend/dotnet/**/node_modules/

# RIA/Silverlight projects
Backend/dotnet/**/Generated_Code/

# Backup & report files from converting an old project file to a newer
Backend/dotnet/**/[Bb]ackup*/
Backend/dotnet/**/UpgradeLog*.XML
Backend/dotnet/**/UpgradeLog*.htm

# SQL Server files
Backend/dotnet/**/*.mdf
Backend/dotnet/**/*.ldf

# Business Intelligence projects
Backend/dotnet/**/*.rdl.data
Backend/dotnet/**/*.bim.layout
Backend/dotnet/**/*.bim_*.settings

# Microsoft Fakes
Backend/dotnet/**/FakesAssemblies/

# GhostDoc plugin setting file
Backend/dotnet/**/*.GhostDoc.xml

# Node.js Tools for Visual Studio
Backend/dotnet/**/.ntvs_analysis.dat

# Typescript v1 declaration files
Backend/dotnet/**/typings/

# Visual Studio 6 build log
Backend/dotnet/**/*.plg

# Visual Studio 6 workspace options file
Backend/dotnet/**/*.opt

# Visual Studio LightSwitch build output
Backend/dotnet/**/**/*.HTMLClient/GeneratedArtifacts
Backend/dotnet/**/**/*.DesktopClient/GeneratedArtifacts
Backend/dotnet/**/**/*.DesktopClient/ModelManifest.xml
Backend/dotnet/**/**/*.Server/GeneratedArtifacts
Backend/dotnet/**/**/*.Server/ModelManifest.xml
Backend/dotnet/**/_Pvt_Extensions

# LightSwitch generated files
Backend/dotnet/**/GeneratedArtifacts/
Backend/dotnet/**/ModelManifest.xml
Backend/dotnet/**/_Pvt_Extensions/

# Paket dependency manager
Backend/dotnet/**/.paket/paket.exe

# FAKE - F# Make
Backend/dotnet/**/.fake/

# JetBrains Rider
Backend/dotnet/**/.idea/
Backend/dotnet/**/*.sln.iml

# CodeRush
Backend/dotnet/**/.cr/

# Python Tools for Visual Studio (PTVS)
Backend/dotnet/**/__pycache__/
Backend/dotnet/**/*.pyc

# Cake - Uncomment if you are using it
Backend/dotnet/**/tools/

# Agent session data
Backend/python/sk/sessions/
Backend/python/langchain/sessions/